<%= form_for(:session, :url=>sessions_path, :html=>{:class=>'form-inline'}) do |f| %>

   <%= f.text_field :email,:class=>"input-small",:placeholder=>"Email" %>
   <%= f.password_field :password,:class=>"input-small",:placeholder=>"Password" %>
   <%= f.submit "登录",:class=>"btn" %><p></p>
   <p><label class="checkbox"><input type="checkbox"> Remember me</label>
   <%= link_to " 忘记密码?", signin_path %></p>
<% end %>


     <a href="/signup/">注册 </a>



