

<div class="row">
  <div class="span8">
	<p class="alert alert-info">广场舞上传视频</p>
	<ul class="nav nav-pills">
	  <li style="margin-bottom:10px;">
 		<%= link_to "全部", {:controller => "record_videos", :action=>'ajax_show'}, :remote=>true,:class=>"link_border" %>
	  </li>
<% @tuantis.each do |tuanti| %>
 <li style="margin-bottom:10px;">
 <%= link_to tuanti.name, {:controller => "tuantis", :action=>'ajax_show',:id=> tuanti.id}, :remote=>true, :class=>"link_border" %>
 </li>
<% end %>
</ul>
<% if @record_videos %>
  <table id="record_video" class="table table-striped">
    <%= render "record_videos/record_video" %>
  </table>
<% else %>
   <p>No result</p>
<% end %>
<div ><%= page_navigation_links(@record_videos) %></div>
</div>

<div class="span4">
  	<%= render 'layouts/newest_content' %>
        <%= render 'layouts/hot_content' %>
        <%= render 'layouts/recomand_content' %>
   
</div>
</div>
