<h1>Listing music_categories</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @music_categories.each do |music_category| %>
  <tr>
    <td><%= music_category.name %></td>
    <td><%= link_to 'Show', music_category %></td>
    <td><%= link_to 'Edit', edit_music_category_path(music_category) %></td>
    <td><%= link_to 'Destroy', music_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Music category', new_music_category_path %>
