<div class="container">
<p id="notice"><%= notice %></p>
<%= link_to '发贴', new_forum_topic_path(@forum) %>
<button class="btn" id="new_topic_btn"><i class='icon-plus'></i>发贴</button>
<table>
  <tr>
    <th>Forum</th>
    <th>User</th>
    <th>Name</th>
    <th>Posts count</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>




<% @topics.each do |topic| %>
  <tr>
    <td><%= topic.forum_id %></td>
    <td><%= topic.user_id %></td>
    <td><%=link_to topic.title, forum_topic_path(@forum,topic) %></td>
    
    <td><%= topic.posts_count %></td>
    <td><%= link_to 'Show', forum_topic_path(@forum,topic) %></td>
    <td><%= link_to 'Edit', edit_forum_topic_path(@forum,topic) %></td>
    <td><%= link_to 'Destroy', forum_topic_path(@forum,topic), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @topics %>
<br />
</div>

