<table>
  <tr>
    <th>Username</th>
    <th>Email</th>
    <th>Profile</th>
    <th>Last login at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.username %></td>
    <td><%= user.email %></td>
    <td><%= user.profile %></td>
    <td><%= user.last_login_at %></td>
  <% if signed_in? %>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <td><%= link_to 'Log out', signout_path %></td>
 <% end %>
  </tr>
<% end %>
</table>

<br />
<table>
  <tr>
	<th>用户名</th>
	<th>状态</th>
	<th>角色</th>
	<th>注册时间</th>
	<th>最后登录时间</th>
	<th>编辑</th>
  
<% @users.each do |user| %>
  </tr>
	<td><%= user.username %></td>
	<td><%= User.status(user) %></td>
	<td>
	    <% user.roles.each do |role|  %>
	      <%= role.name %>
	    <% end %>
	</td>
	<td><%= time_ago_in_words(user.created_at) %></td>
	<td><%= user.last_login_at %></td>
	<td><%= link_to "编辑", user %></td>
  <tr>
<% end %>


  </tr>
</table>
<%= link_to 'New User', new_user_path %>
<%= link_to 'Log in', signin_path %>
