
<div class="row" style="margin:30px">
  <p class="span6">
   <span style="font-size:30px"><%= @upload.upload_file_name %> </span>
   
   <br><br>
     <span class="green_font"> 分类：</span>
     <span> <%= link_to "广场舞视频",uploads_path %></span> 
     <span class="green_font">点击：</span>
     <span> 23</span>
     <span class="green_font">上传者：</span>
     <span><%= link_to @upload.user.username, user_path(@upload.user) %> </span>
     
     <span class="green_font">日期：</span>
     <span> <%= @upload.created_at.strftime("%Y-%m-%d") %></span>
  </p>
</div>

  <div id="myElement" >Loading the player...</div>
  <div class="recomand_videos span6">few</div>
</div>

<div class="row">
  <div   class="span4" style="background-color:yellow">Loading the player...</div>
  <div class="span4" style="background-color:red">few</div>
</div>

<script type="text/javascript">
    jwplayer("myElement").setup({
        file: "<%= @upload.to_jq_upload['url'] %>",
	height:360,
	width:640,
	autostart: 'true',
	analytics: {
        cookies: false
    }
        
    });
</script>
